html 
    head 
        title="Mi plantila referida"
    body
        h2 Desafio 01 - PUG
        h4 Steps: 
        ul
            li Ejecutar la ruta "http://localhost:8080/datos" para probar el medidor de nivel
            