<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
</head>
<body>
  <div class="container mt-3 jumbotron">
    <h5>Adhiera al PATH .... /personas .... para cargar un elemento</h5>
  </div>
</body>
</html>